.portfolio__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: .2rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}